@import url(null.css);
body {
  width: 100%;
  height: 100vh;
  font-family: "Nunito Sans";
  font-size: 14px;
}

.container {
  max-width: 1256px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background-color: rgb(19, 19, 19);
  padding: 36px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo__link {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #E3B873;
  margin-right: 120px;
}

.navigacion__list {
  display: flex;
  gap: 47px;
}

.navigacion__item {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}
.navigacion__item:hover {
  color: #E3B873;
}

a.contacs {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
  margin-left: 89px;
  margin-right: 45px;
}

.header__button {
  padding: 13px 33px;
  color: white;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__button:hover {
  transform: scale(1.1);
}

.main {
  overflow: hidden;
}

.section__1 {
  background-image: url(../image/Group\ 7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 194px 0 208px 134px;
}

.section__1__tittle {
  display: block;
  max-width: 519px;
  margin-bottom: 24px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.section__1__tittle span {
  color: #E3B873;
}

.section__1__text {
  display: block;
  max-width: 519px;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.section__1__button {
  width: 207px;
  height: 51px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  background-color: transparent;
  color: white;
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #FFFFFF;
  margin-right: 20px;
}
.section__1__button:hover {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  border-color: transparent;
}

.section__2 {
  background: #131313;
  padding: 107px 0 414px 0;
}
.section__2 .container {
  display: flex;
}

.section__2__column {
  display: block;
}

.section__2__tittle {
  padding-top: 70px;
  max-width: 156px;
  margin-bottom: 34px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}

@media (max-width: 1109px) {
  .section__2__tittle {
    padding-top: 0;
  }
}
.section__2__text {
  max-width: 442px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 41px;
  margin-right: 50px;
}

.section__2__carts {
  display: flex;
  flex-wrap: wrap;
  max-width: 442px;
}

.section__2__item {
  display: block;
  min-width: 174px;
  margin-right: 29px;
  margin-bottom: 34px;
}
.section__2__item h3 {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}
.section__2__item p {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.swiper__navigacion {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.swiper__navigacion img {
  height: 100%;
}
.swiper__navigacion img:nth-child(1) {
  transform: rotate(-180deg);
}

.swiper__navigacion__circle {
  display: flex;
  gap: 17px;
  margin: 0 29px;
}

.section__2__links {
  max-width: 623px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.section__2__links a {
  border-bottom: 1px solid transparent;
}
.section__2__links a:hover {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

a.section__2__link {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.section__2__swiper {
  max-width: 679px;
  height: 482px;
  margin-top: 40px;
  background-image: url(../image/Mask\ Group.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section__3 {
  margin-top: -310px;
}
.section__3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__3__tittle {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.sublogo {
  display: flex;
  align-items: center;
}

.section__3__video {
  position: relative;
  margin-top: 31px;
  width: 817px;
  height: 434px;
  background-image: url(../image/Mask\ Group2.png);
}

.play {
  position: absolute;
  top: 35%;
  left: 41%;
}

.section__3__line {
  margin-top: 62px;
  margin-bottom: 34px;
}

.section__3__text {
  max-width: 681px;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
  margin-bottom: 55px;
}

.section__3__form {
  display: block;
}

.row__top {
  display: flex;
  padding-top: 37px;
}

.row__bottom {
  display: flex;
  padding-top: 20px;
}

.form-group {
  position: relative;
  width: 231px;
  margin-right: 58px;
}
.form-group label {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.form-group input {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  padding-bottom: 8px;
  padding-top: 20px;
}
.form-group input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
}
.form-group input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
}
.form-group input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
}

.form__button {
  background: #E3B873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 200px;
  height: 51px;
}
.form__button:hover {
  transform: scale(1.1);
}

.form__row {
  position: relative;
  justify-content: center;
}

.form__checked {
  display: flex;
  align-items: center;
}

.form__checkbox {
  display: none;
}

.fake {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #E3B873;
}
.fake::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 26%;
  left: 28%;
  background-image: url(../image/g.svg);
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.4s;
}

.form__checkbox:checked + .fake::before {
  opacity: 1;
}

.form__text {
  display: inline-block;
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #181818;
}

.section__4 {
  margin-top: 147px;
}
.section__4 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.section__4__tittle {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 13px;
}

.section__4__logo {
  color: #131313;
  margin-bottom: 31px;
}

.section__4__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  position: relative;
  width: 392px;
  height: 421px;
}

.item__1 {
  background-image: url(../image/image1.png);
}

.item__2 {
  background-image: url(../image/2.png);
}

.item__3 {
  background-image: url(../image/3.png);
}

.item__discription {
  position: absolute;
  top: 294px;
  right: 31px;
  width: 330px;
  height: 286px;
  background-color: #fff;
  padding: 25px 0 0 31px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.item__discription h3 {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin-bottom: 13px;
}
.item__discription li {
  list-style-type: disc;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}

.section__4__button {
  position: absolute;
  left: 0;
  width: 228px;
  height: 54px;
  margin-top: 20px;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section__5 {
  margin-top: 250px;
  height: 645px;
  position: relative;
}
.section__5 .container {
  display: flex;
  background-image: url(../image/image\ 6.1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -148%;
}

.section__5__column {
  padding-top: 81px;
}

.section__5__left {
  position: relative;
  padding-top: 97px;
  padding-right: 79px;
  padding-left: 209px;
  background-repeat: no-repeat;
}

.column__right {
  padding-left: 54px;
}

.section__5__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 57px;
}

.item__circle {
  position: relative;
}
.item__circle span {
  position: absolute;
  top: 27px;
  left: 33px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.text__item {
  display: inline-block;
  max-width: 316px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
}

.section__5__form {
  display: block;
  height: 506px;
  width: 509px;
  background-color: black;
  padding: 28px 49px 0 49px;
}
.section__5__form h2 {
  display: flex;
  margin: 0 auto;
  max-width: 297px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.row__section__5 {
  display: block;
  padding: 0;
}

.row__bottom__s5 {
  padding-top: 0;
  justify-content: start;
}

.group__section__5 {
  width: 408px;
  margin-bottom: 48px;
}
.group__section__5 input {
  color: white;
  background-color: black;
}
.group__section__5 input::-moz-placeholder {
  color: #FFFFFF;
}
.group__section__5 input:-ms-input-placeholder {
  color: #FFFFFF;
}
.group__section__5 input::placeholder {
  color: #FFFFFF;
}
.group__section__5 label {
  color: rgba(255, 255, 255, 0.5);
}

.button__section__5 {
  margin-top: 30px;
  float: right;
  margin-right: 20px;
  width: 213px;
  height: 51px;
}

.text__section__5 {
  color: white;
}

.section__5__stock {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.section__5__stock {
  max-width: 344px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.section__6 {
  margin-top: 280px;
  background-image: url(../image/Group\ 22.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 864px;
  padding-top: 138px;
}
.section__6 .container {
  display: flex;
  overflow: visible;
}

.section__6__column__left {
  display: block;
  padding-right: 138px;
}
.section__6__column__left h2 {
  max-width: 350px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 47px;
}
.section__6__column__left p {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 29px;
}
.section__6__column__left p:hover {
  text-decoration: underline;
  color: #E3B873;
}

.section__6__column__right {
  display: flex;
}
.section__6__column__right img {
  min-width: 354px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 354px;
}

.section__6__1 {
  height: 556px;
  transform: translateY(-177px);
}

.section__6__2 {
  transform: translateY(-129px);
}

.section__6__3 {
  transform: translateY(-260px);
}

.section__6__4 {
  transform: translateY(-212px);
}

.section__7 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__7__tittle {
  font-family: "Yeseva One";
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-top: 100px;
}

.section__7__text {
  max-width: 400px;
  margin-top: 24px;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
}

.section__7__items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 376px;
  height: 455px;
  display: block;
  position: relative;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  padding: 41px 31px 67px 20px;
}
.item .item__photo {
  position: absolute;
  top: 29px;
  left: 23px;
}

.item__tittle {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  margin-left: 109px;
  margin-bottom: 39px;
}

.item__text {
  display: inline-block;
  margin-top: 9px;
  font-weight: 400;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
}

.item__button {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  width: 294px;
  height: 54px;
  background: #E3B873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}
.item__button p {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.item__button_1 {
  margin-left: 17px;
  margin-right: 15px;
  width: 32px;
  height: 32px;
}

.item__button_2 {
  margin: 0 18px;
}

.item__button_3 {
  margin-right: 15px;
}

.section__8 {
  height: 953px;
  margin-top: 347px;
  background-image: url(../image/s8.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 65px;
}
.section__8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: -1;
}
.section__8 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-222px);
}

.section__8__form {
  position: relative;
  width: 883px;
  height: 445px;
  background-color: #181818;
  color: white;
  padding: 34px 181px 34px 181px;
  margin-bottom: 52px;
}
.section__8__form input {
  color: white;
}
.section__8__form h2 {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form__row__bottom {
  display: flex !important;
  justify-content: center;
}

.row__section__8 {
  display: block;
}

.form__row_1 {
  display: flex;
}

.section__8__firstRow {
  margin-top: 48px;
}

.form-group__section__8 label {
  color: rgba(255, 255, 255, 0.5);
}
.form-group__section__8 input {
  width: 231px;
  background: transparent;
}
.form-group__section__8 input::-moz-placeholder {
  color: white;
}
.form-group__section__8 input:-ms-input-placeholder {
  color: white;
}
.form-group__section__8 input::placeholder {
  color: white;
}

.form__text__section__8 {
  color: white;
}

.section__8__checked {
  margin-top: 10px;
}

.button__section__8 {
  position: absolute;
  margin-top: 50px;
  right: 38%;
}

.section__8__tittle {
  max-width: 589px;
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.soc {
  margin-right: 8px;
}

.section__8__soc {
  margin-bottom: 43px;
  margin-top: 26px;
}

.cart {
  width: 925px;
  height: 485px;
}

.footer {
  height: 133px;
  background: rgb(24, 24, 24);
  padding: 38px 0;
}

@media (max-width: 1224px) {
  a.contacs {
    margin: 0 15px;
  }
  .navigacion__list {
    gap: 20px;
  }
  a.logo__link {
    margin-right: 10px;
  }
  .item__3 {
    margin-top: 200px;
  }
  .section__4__items {
    justify-content: center;
  }
  .section__5 {
    margin-top: 166px;
  }
  .section__5__left {
    padding-left: 109px;
  }
  .section__6__column__left {
    padding-right: 10px;
  }
  .section__7__items {
    justify-content: center;
  }
  .section__7__i1 {
    margin-bottom: 20px;
  }
  .section__8 {
    margin-top: 267px;
  }
  .swiper__navigacion {
    margin-top: 20px;
  }
}
@media (max-width: 943px) {
  .section__5 .container {
    flex-direction: column;
  }
  .section__5__left {
    display: flex;
    justify-content: space-around;
    padding-right: 0;
    padding-left: 0;
  }
  .section__5__column {
    padding-top: 0;
    margin: 0 auto;
  }
  .section__6__column__left {
    transform: translateY(-60px);
  }
  .section__5 {
    margin-top: 209px;
  }
}
@media (max-width: 876px) {
  .navigacion__list {
    display: none;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 910px) {
  .section__6__column__left p {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 17px;
  }
  .section__2__swiper {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 397px;
    margin: 0 auto;
  }
  .header__button {
    display: none;
  }
  .section__2 {
    padding: 107px 0 300px 0;
    position: relative;
  }
  .section__2 .container {
    flex-direction: column;
    align-items: center;
  }
  .section__2__tittle {
    display: block;
    margin: 0 auto;
    max-width: none;
    text-align: center;
    margin-bottom: 10px;
  }
  .section__2__text {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .section__2__carts {
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    max-width: none;
    width: 100%;
    padding: 0 90px;
  }
  .section__2__links {
    display: none;
  }
  .section__2__column {
    width: 100%;
  }
  .swiper__navigacion {
    display: none;
  }
  .section__3 {
    margin-top: -107px;
    background-color: #131313;
  }
  .section__3__logo {
    z-index: 2;
  }
  .section__3__video {
    width: 100%;
  }
  .section__3__form {
    width: 100%;
  }
  .form__row {
    flex-direction: column;
    width: 100%;
  }
  .form-group {
    width: 100%;
    margin-right: 0;
  }
  .form-group input {
    color: white;
    background-color: transparent;
    margin-bottom: 63px;
  }
  .form-group input::-moz-placeholder {
    color: white;
  }
  .form-group input:-ms-input-placeholder {
    color: white;
  }
  .form-group input::placeholder {
    color: white;
  }
  .form-group label {
    color: rgba(255, 255, 255, 0.5);
  }
  .section__3__button {
    transform: translateX(456px);
  }
  .section__5__left {
    display: none;
  }
  .form__checked {
    transform: translateY(-71px);
  }
  .form__text {
    color: white;
  }
  .section__4 {
    margin-top: 30px;
  }
  .item__1,
.item__2,
.item__3 {
    margin-bottom: 151px;
    margin-top: 0;
  }
  .section__6__2,
.section__6__3,
.section__6__4 {
    display: none;
  }
  .cart {
    width: 100%;
  }
  .cart img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section__5 {
    margin-top: 45px;
  }
  .section__5 .container {
    background-image: none;
  }
  .column__right {
    padding-top: 0;
  }
  .section__5 {
    display: none;
  }
  .section__6 {
    margin-top: 86px;
  }
  .section__8__form {
    padding: 0;
    width: 100%;
  }
  .button__section__8 {
    transform: none;
  }
  .section__6__1 {
    transform: translateY(7px);
  }
  .section__7__tittle {
    margin-top: 20px;
  }
  .section__8 {
    padding: 0;
    height: 838px;
  }
  .section__8__form {
    padding: 20px;
  }
  .button__section__8 {
    transform: translate(221px, -98px);
  }
  .footer {
    padding-bottom: 0;
    height: 93px;
  }
}
@media screen and (max-width: 693px) {
  .section__1 {
    padding-left: 0;
    text-align: center;
  }
  .section__1__tittle {
    margin: 0 auto;
  }
  .section__1__text {
    margin: 0 auto;
  }
}
@media screen and (max-width: 685px) {
  .section__3__button {
    transform: none;
    position: absolute;
    bottom: 0;
    left: 60vw;
  }
}
@media (max-width: 591px) {
  .section__2__carts {
    padding: 0;
  }
}
@media (max-width: 493px) {
  .section__1__button {
    width: 338px;
    margin-bottom: 26px;
  }
  .section__1__text {
    padding-bottom: 32px;
  }
  .section__2__carts {
    display: flex;
    position: static;
    position: absolute;
  }
  .section__2__item {
    margin-right: 0;
  }
  .section__2__item h3 {
    font-size: 14px;
  }
  .section__2__item p {
    font-size: 11px;
  }
}
@media screen and (max-width: 375px) {
  .navigacion {
    display: none;
  }
  .section__1 {
    padding: 85px 0 61px 0;
  }
  a.contacs {
    color: white;
    margin: 0;
  }
  .section__1__tittle {
    font-size: 23px;
    line-height: 132.83%;
    text-align: center;
  }
  .section__1__text {
    font-size: 14px;
    line-height: 135.84%;
    text-align: center;
  }
  .section__2 {
    padding: 36px 0 175px 0;
    position: relative;
  }
  .section__2__carts {
    bottom: 0px;
  }
  .section__2__tittle {
    font-size: 22px;
    width: 250px;
    padding-bottom: 22px;
  }
  .section__2__text {
    max-width: 311px;
    font-size: 11px;
  }
  .section__2__swiper {
    height: 240px;
    max-width: 340px;
  }
  .section__3 {
    margin-top: 0px;
  }
  .section__3 .container {
    overflow: visible;
  }
  .section__3__video {
    max-width: 340px;
    max-height: 207px;
  }
  .section__3__form {
    padding-bottom: 60px;
  }
  .play {
    width: 67px;
    height: 67px;
  }
  .section__3__button {
    transform: translateX(0);
    position: absolute;
    bottom: -92px;
    width: 100%;
    z-index: 10;
    left: 0;
  }
  .section__3__text {
    font-size: 11px;
    line-height: 169.8%;
    color: white;
    text-align: center;
  }
  .section__4__items {
    width: 100%;
  }
  .item {
    height: 365px;
    background-size: cover;
    background-position: center;
  }
  .item__discription {
    padding: 21px 41px 0 31px;
    width: 241px;
    left: 0;
    top: 208px;
    height: 270px;
  }
  .item__discription h3 {
    font-size: 13px;
  }
  .item__discription ul {
    font-size: 13px;
  }
  .item__discription ul li {
    line-height: 169.8%;
  }
  .section__4__button {
    font-size: 15px;
    width: 190px;
    height: 40px;
    margin-top: 15px;
  }
  .form__row_1 {
    flex-direction: column;
  }
  .section__6 {
    overflow: visible;
    background-image: none;
    padding: 20px 0 200px 0;
    margin-top: 50px;
    height: 100%;
  }
  .section__6 .container {
    display: block;
    overflow: visible;
    height: 220px;
  }
  .section__6__column__left h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
  }
  .section__6__column__left p {
    display: none;
  }
  .section__6__column__right {
    max-height: 242px;
    z-index: 2;
    overflow: hidden;
    top: 4px;
  }
  .section__6__column__right img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    height: auto;
    -o-object-position: center;
       object-position: center;
  }
  .section__6__1 {
    transform: none;
    height: auto;
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section__6__column__right {
    z-index: 30;
  }
  .form {
    width: 100%;
  }
  .section__7 {
    display: none;
  }
  .section__8 {
    margin: 0;
    background-color: #181818;
    background-image: none;
    padding-top: 40 px;
    height: auto;
  }
  .section__8 .container {
    transform: none;
  }
  .section__8__form {
    padding: 0;
  }
  .section__8__form h2 {
    margin-bottom: 52px;
  }
  .form-group input {
    width: 100%;
    margin-bottom: 63px;
  }
  .section__8__firstRow {
    margin: 0;
  }
  .form__row {
    padding: 0;
  }
  .button__section__8 {
    right: 0;
    bottom: -84px;
  }
  .section__8__tittle {
    margin-top: 42px;
    order: 1;
    font-size: 18px;
  }
  .cart {
    height: auto;
    margin-top: 79px;
  }
  .section__8__soc {
    order: 2;
  }
  .soc {
    margin: 0;
  }
  .soc:nth-child(1) {
    margin-right: 10px;
  }
}